APP_HOST=127.0.0.1
APP_PORT=8000

DB_USER=fast_api_user
DB_PASSWORD=fast_api_user
DB_HOST=mysql
DB_PORT=3306
DB_NAME=fast_api

JWT_SECRET=cVsbe7TjB8+uPxMh9Jzs3jhriT70SUnD+MIv5tPpIyM=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30